@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Community Medicine Automation</h1>
    <p class="lead">Community Medicine Automation is a web application for community hospitals and cliniks</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

